.admin-link-header {
  color: rgb(147, 147, 147);
}

.admin-link-header-active {
  color: rgb(255, 255, 255);
}

.admin-link-settings{
  font-size: 1.2rem;
  color: rgb(147, 147, 147);
}

.admin-link-settings:hover{
  color: rgb(255, 134, 134);
}
